.game-background, .options, .hi-score, .how-to-play, .start-menu, .controls {
  margin-left: 15%;
  top: 20%;
  right: 0;
  left: 0;
  width: 717px;
  height: 500px;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
}

.controls{
  text-align: center;
  margin-left: 65%;
  background-color: black;
  width: 200px;
  font-family: 'VT323', monospace;

}

.game-img{
  margin-top: 5%;
}

.controls-h2, .game-over-h2, .game-p{
  color:green;
  font-family: 'VT323', monospace;
}
.game-over-h2{
  font-size: 70px;
}


.controls-h2{
  font-size: 45px;
}

.controls p{
  font-size: 18px;
}


.container-fluid input{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: green;
  font-size: 35px;
  overflow:hidden;
  text-align: center;
  margin:0px;
  padding-left: 0px;
}

.start-menu, .options, .hi-score{
  text-align: center;
  background-color: black;
}

.options-menu{
  width: 70%;
  margin-left: 15%;
}

.lists{
  list-style-type: none;
  padding:0px;
  margin-top: 3%;
  font-family: 'VT323', monospace;
  font-size: 35px;
}



.menu-item, .options-item{
  text-decoration: none !important;
  color: green !important;
}

.menu-item:hover,.options-item:hover{
  color: white !important;
  transition: color .25s ease-in !important;
}

.back-hiscore{
  font-family: 'VT323', monospace;
  font-size: 35px;
}

.hi-score{
  text-align: center;
}
.modal-game-over h1{
  font-family: 'VT323', monospace !important;
  color: green !important;
  font-size: 50px!important;
}


.score-table{
  color: green;
}
.how-to-play{
  background-color: black;
}
#score-data{
  font-family: 'VT323', monospace;
  font-size: 30px;
  text-align: center;
  margin-left: 40%;
  color: white;
}

.options-item:hover, .menu-item:hover{
 text-decoration: none;
}
.sky-background {
  height: 100%;
  width: 497px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: url(../assets/game-images/sky2.png) repeat-y;
  animation: 300s background-movement linear infinite;
}

.plane-data{
  height: 100%;
  width: 220px;
  float: right;
  background-color: black;
  text-align: center;
}

 .hi-score h1{
  font-family: 'VT323', monospace;
  font-size: 55px;
  color: green;
  padding: 0px;
  margin: 20px;
}

#score{
  font-family: 'VT323', monospace;
  color: white;
  font-size: 50px;
}

#lives-container{
  margin-top: 15%;
  width: 75%;
  height: 153px;
  left: 12%;
  position:relative;
}
 .plane-data p{
   color:green;
   font-size: 60px;
   font-family: 'VT323', monospace;
 }
.lives{
  left: 40px;
  height: 51px;
  width: 53px;
  background: url("../assets/game-images/heart.png");
  float: left;
}

.gameContent {
  height: 25%;
  width: 25%;
  position: absolute;
  left: 30%;
  top: 30%;
}

.explosion {
  height: 128px;
  width: 128px;
  position: absolute;
  background: url('../assets/game-images/explosionBig.png') left center;
  z-index: 9998;
  animation: explode .8s steps(14);
}

#plane {
  height: 75px;
  width: 95px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background: url(../assets/game-images/plane.png);
}

.enemy1 {
  top: -110px;
  left: 0px;
  width: 110px;
  height: 75px;
  position: absolute;
  background: url(../assets/game-images/enemy1.png);
}

#submit-score{
  font-family: 'VT323', monospace;
  background-color: rgba(15, 221, 14, 0);
  font-size: 35px;
  cursor: pointer;
}

.enemy2 {
  top: -110px;
  left: 0px;
  width: 88px;
  height: 86px;
  position: absolute;
  background: url(../assets/game-images/enemy2.png);
}

.enemy3 {
  top: -110px;
  left: 0px;
  width: 139px;
  height: 90px;
  position: absolute;
  background: url(../assets/game-images/enemy3.png);
}

#life {
  width: 48px;
  height: 47px;
  top: -110px;
  background: url("../assets/game-images/life.png");
  position: absolute;
}

.enemy1movement {
  animation: 4s enemyforward linear;
  animation-fill-mode: forwards;
}

.immunity {
  animation: .2s immune linear infinite;
  animation-fill-mode: forwards;
}

#modalFinish {
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.navBar{
  width:100%;
  height: 5%;
  position: fixed;
  background-color: blue;
}




.modal-game-over {
    background-color: rgb(145, 210, 70);
    margin: auto;
    padding: 2%;
    width: 50%;
    height: 100%;
}

#finalScore{
  font-size: 40px;
  font-family: 'VT323', monospace;

}
#name{
  font-size: 50px;
  font-family: 'VT323', monospace;
  color:green
}

#namePlayer{
  border: 1px solid;
}

@keyframes immune {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes background-movement {
  100% {
    background-position-y: 99999px;
  }
}

@keyframes enemyforward {
  100% {
    top: 700px;
  }
}

@keyframes explode {
  100% {
    background-position: -1792px;
  }
}

.oneUp-animation {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 0%;
  margin-left:10%;
  animation: 2s bounceIn;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
